.form {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: flex-start;
}

textarea,
input {
  align-self: normal;
  display: flex;
  margin-bottom: 1em;
  background: white;
  border: 1px solid #e1e1e1;
  padding: 0.8em;
  color: #393e46;
  font-size: 1em;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  align-self: end;
  background: #00adb5;
  color: white;
  border: none;
  padding: 0.8em 3em;
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
}

button:hover {
  background: #aad8d3;
}
